<!DOCTYPE html>

<html>

<head>

    <meta charset="UTF-8">

    <title>

        Motion Detection Dashboard

    </title>

</head>

<body>

    <h1>

        Motion Detection Dashboard

    </h1>

    <hr>

    <h2>

        Statistics

    </h2>

    <p>

        Total Events:
        {{ total_events }}

    </p>

    <p>

        Today Events:
        {{ today_events }}

    </p>

    <p>

        Week Events:
        {{ week_events }}

    </p>

    <p>

        Month Events:
        {{ month_events }}

    </p>

    <hr>

    <h2>

        Last Event

    </h2>

    <p>

        {{ last_event }}

    </p>

</body>

</html>